<form class="login-form form-group">
    <div>
        <label for="email-login">Email address:</label>
        <input type="email" id="email-login" placeholder="name@example.com"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" placeholder="Password"/>
    </div>
    <div>
        <button type="submit" class="btn btn-info">Login</button>
        <a href="/signup"><button type="button" class="btn btn-info">Signup</button></a>
    </div>
</form>
<script src="/javascript/login.js"></script>